version: '3.8'

services:
  backend:
    image: wassimtajeddin/portfolio-vue:backend-latest
    container_name: portfolio-backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb+srv://wassimtajeddin:${DB_PASSWORD}@cluster.vxwsnsd.mongodb.net/portfolio?retryWrites=true&w=majority&appName=Cluster
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    image: wassimtajeddin/portfolio-vue:frontend-latest
    container_name: portfolio-frontend
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge