node_modules/
server/node_modules/
server/admin-panel/node_modules/
npm-debug.log*

.env
.env.*
.git/
.gitignore

README.md

.nyc_output
coverage/

.dist/
dist/
build/

.DS_Store
Thumbs.db

*.log
logs/

.vscode/
.idea/